
  <script type="text/javascript" src="/public/js/jquery-3.5.1.min.js"></script>
  <script type="text/javascript" src="/public/js/moment.js"></script>
  <script type="text/javascript" src="/public/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="/public/js/dataTables.buttons.min.js"></script>
  <script type="text/javascript" src="/public/js/buttons.flash.min.js"></script>
  <script type="text/javascript" src="/public/js/jszip.min.js"></script>
  <script type="text/javascript" src="/public/js/buttons.html5.min.js"></script>
  <script type="text/javascript" src="/public/js/materialize.min.js"></script>
  <script type="text/javascript" src="/public/js/order.js"></script>
  <script type="text/javascript" src="/public/js/correspondant.js"></script>
  <script type="text/javascript" src="/public/js/script.js"></script>
</body>


</html>